<div class="nhsuk-width-container">
  <div class="nhsuk-main-wrapper">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3">John George Pamphlet</h1>
        <h2 class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">NHS No. 123-456-789</h2>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ul class="checklist checklist--top nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
              <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            Admission notes entered
          </li>
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
              <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            Ready for scrutiny
          </li>
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
              <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            Assigned to ME/MEO
          </li>
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="none">
              <path stroke-width="4" stroke-linecap="round" stroke="#007f3b" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            Scrutiny complete
          </li>
        </ul>
        <ul class="checklist checklist--bottom nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
              <path fill="#999999" d="M12.6,0.6c-4.2,0-7.92,2.28-9.84,5.76L0,3.6v7.8h7.8L4.44,8.04C6,5.04,9,3,12.6,3c4.92,0,9,4.08,9,9s-4.08,9-9,9
             c-3.96,0-7.2-2.52-8.52-6H1.56c1.32,4.8,5.76,8.4,11.04,8.4C18.96,23.4,24,18.24,24,12C24,5.76,18.84,0.6,12.6,0.6z M10.8,6.6v6.12
             l5.64,3.36l0.96-1.56l-4.8-2.88V6.6H10.8z"/>
           </svg>
            Pending admission notes
          </li>
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
              <path fill="#999999" d="M12.6,0.6c-4.2,0-7.92,2.28-9.84,5.76L0,3.6v7.8h7.8L4.44,8.04C6,5.04,9,3,12.6,3c4.92,0,9,4.08,9,9s-4.08,9-9,9
              c-3.96,0-7.2-2.52-8.52-6H1.56c1.32,4.8,5.76,8.4,11.04,8.4C18.96,23.4,24,18.24,24,12C24,5.76,18.84,0.6,12.6,0.6z M10.8,6.6v6.12
              l5.64,3.36l0.96-1.56l-4.8-2.88V6.6H10.8z"/>
            </svg>
            Pending QAP discussion
          </li>
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
              <path fill="#999999" d="M12.6,0.6c-4.2,0-7.92,2.28-9.84,5.76L0,3.6v7.8h7.8L4.44,8.04C6,5.04,9,3,12.6,3c4.92,0,9,4.08,9,9s-4.08,9-9,9
              c-3.96,0-7.2-2.52-8.52-6H1.56c1.32,4.8,5.76,8.4,11.04,8.4C18.96,23.4,24,18.24,24,12C24,5.76,18.84,0.6,12.6,0.6z M10.8,6.6v6.12
              l5.64,3.36l0.96-1.56l-4.8-2.88V6.6H10.8z"/>
            </svg>
            Pending representative discussion
          </li>
          <li class="checklist__item">
            <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
              <path fill="#999999" d="M12.6,0.6c-4.2,0-7.92,2.28-9.84,5.76L0,3.6v7.8h7.8L4.44,8.04C6,5.04,9,3,12.6,3c4.92,0,9,4.08,9,9s-4.08,9-9,9
              c-3.96,0-7.2-2.52-8.52-6H1.56c1.32,4.8,5.76,8.4,11.04,8.4C18.96,23.4,24,18.24,24,12C24,5.76,18.84,0.6,12.6,0.6z M10.8,6.6v6.12
              l5.64,3.36l0.96-1.56l-4.8-2.88V6.6H10.8z"/>
            </svg>
            Final case items outstanding
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% if page.url contains '/meo' %}
<ul class="nhsuk-tabs">
  <li class="nhsuk-tab">
    <a {% if page.url=='/meo/patient-details/' %} class="selected" {% endif %} href="/meo/patient-details/">Patient details</a>
  </li>
  <li class="nhsuk-tab">
    <a {% if page.url=='/meo/patient-details/medical-team/' %} class="selected" {% endif %} href="/meo/patient-details/medical-team/">Medical
      team</a>
  </li>
  <li class="nhsuk-tab">
    <a {% if page.url=='/meo/patient-details/case-breakdown/' %} class="selected" {% endif %} href="/meo/patient-details/case-breakdown/">Case
      breakdown</a>
  </li>
  <li class="nhsuk-tab">
    <a {% if page.url=='/meo/patient-details/case-outcomes/' %} class="selected" {% endif %} href="/meo/patient-details/case-outcomes/">Case
      outcomes</a>
  </li>
</ul>
{% else %}
<ul class="nhsuk-tabs">
    <li class="nhsuk-tab">
      <a {% if page.url=='/me/patient-details/' %} class="selected" {% endif %} href="/me/patient-details/">Patient details</a>
    </li>
    <li class="nhsuk-tab">
      <a {% if page.url=='/me/patient-details/medical-team/' %} class="selected" {% endif %} href="/me/patient-details/medical-team/">Medical
        team</a>
    </li>
    <li class="nhsuk-tab">
      <a {% if page.url=='/me/patient-details/case-breakdown/' %} class="selected" {% endif %} href="/me/patient-details/case-breakdown/">Case
        breakdown</a>
    </li>
    <li class="nhsuk-tab">
      <a {% if page.url=='/me/patient-details/case-outcomes/' %} class="selected" {% endif %} href="/me/patient-details/case-outcomes/">Case
        outcomes</a>
    </li>
  </ul>
{% endif %}