<!-- EVENT TEMPLATES-->
<template id="latestAdmissionNotesEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--blue1">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Admission notes</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="latestAdmissionNotesFormTemplate">Amend
          event</a></p>
    </div>
  </div>
</template>

<template id="medicalHistoryEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--blue2">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Medical history</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="medicalHistoryFormTemplate">Amend event</a></p>
    </div>
  </div>
</template>

<template id="meoSummaryEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--ocean">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">MEO summary</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="meoSummaryFormTemplate">Amend event</a></p>
    </div>
  </div>
</template>

<template id="mePreScrutinyEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--orange">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">ME pre-scrutiny</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="mePreScrutinyFormTemplate">Amend event</a></p>
    </div>
  </div>
</template>

<template id="qapDiscussionEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--purple">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">QAP discussion</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="qapDiscussionFormTemplate">Amend event</a></p>
    </div>
  </div>
</template>

<template id="bereavedDiscussionEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--green">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Bereaved/representative discussion</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="bereavedDiscussionFormTemplate">Amend event</a></p>
    </div>
  </div>
</template>

<template id="otherCaseEventTemplate">
  <div id="event{number}" class="timeline__item timeline__item--pink">
    <div class="timeline__item__expander"></div>
    <div class="timeline__item__number">{number}</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Other case info</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
        accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="otherCaseFormTemplate">Amend event</a></p>
    </div>
  </div>
</template>
<!-- // EVENT TEMPLATES -->