<div id="events" class="timeline">
  <div id="event1" class="timeline__item timeline__item--grey">
    <div class="timeline__item__number">1</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Patient died</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 9:20am</h4>
      <p>D.O.D 15.03.2019</p>
      <p>T.O.D at 3:35am</p>
    </div>
  </div>
  <div id="event2" class="timeline__item timeline__item--blue1">
    <div class="timeline__item__expander">
      <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
    </div>
    <div class="timeline__item__number">2</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Admission notes</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <div class="timeline__item__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      </div>
      <div class="timeline__item__main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
      </div>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="latestAdmissionNotesFormTemplate">Amend
          event</a></p>
    </div>
  </div>
  <div id="event3" class="timeline__item timeline__item--blue2">
    <div class="timeline__item__expander">
      <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
    </div>
    <div class="timeline__item__number">3</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Medical history</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <div class="timeline__item__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      </div>
      <div class="timeline__item__main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
      </div>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="medicalHistoryFormTemplate">Amend
          event</a></p>
    </div>
  </div>
  <div id="event4" class="timeline__item timeline__item--orange">
    <div class="timeline__item__expander">
      <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
    </div>
    <div class="timeline__item__number">4</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">ME pre-scrutiny</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <div class="timeline__item__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      </div>
      <div class="timeline__item__main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
      </div>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="mePreScrutinyFormTemplate">Amend event</a></p>
    </div>
  </div>
  <div id="event5" class="timeline__item timeline__item--purple">
    <div class="timeline__item__expander">
      <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
    </div>
    <div class="timeline__item__number">5</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">QAP discussion</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <div class="timeline__item__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      </div>
      <div class="timeline__item__main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
      </div>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="qapDiscussionFormTemplate">Amend event</a></p>
    </div>
  </div>
  <div id="event6" class="timeline__item timeline__item--green">
    <div class="timeline__item__expander">
      <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
    </div>
    <div class="timeline__item__number">6</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Bereaved/representative discussion</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <div class="timeline__item__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      </div>
      <div class="timeline__item__main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
      </div>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="bereavedDiscussionFormTemplate">Amend
          event</a></p>
    </div>
  </div>
  <div id="event7" class="timeline__item timeline__item--pink">
    <div class="timeline__item__expander">
      <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
    </div>
    <div class="timeline__item__number">7</div>
    <div class="timeline__item__content">
      <h3 class="timeline__item__header">Other case info</h3>
      <h4 class="timeline__item__subheader">John Smith, ME, Today at 11:45am</h4>
      <div class="timeline__item__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut...</p>
      </div>
      <div class="timeline__item__main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia cum culpa illum! Et rem totam
          accusantium quia neque itaque, temporibus optio veritatis aut, dolorum a, nam quod sequi unde. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Doloremque minus optio nostrum! Dolor, officia
          tenetur
          dolore harum nobis cupiditate fuga alias iusto aliquam placeat. Deleniti rerum cupiditate quo officiis
          eos.</p>
      </div>
      <p class="nhsuk-u-margin-top-3"><a class="js-link" data-amend-event="otherCaseFormTemplate">Amend event</a></p>
    </div>
  </div>
</div>