<div class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-blue-header">Proposed cause of death</div>
  <div class="nhsuk-gray-panel">
    <p>Cause of death established during scrutiny by Medical Examiner and QAP</p>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-u-margin-bottom-0">Dr Tia Sanchez</h3>
        <p>ME</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-u-margin-bottom-0">Jim Broadsmith</h3>
        <p>QAP</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <p>22/02/19</p>
      </div>
    </div>
    <h4>It is proposed that James Gould died from:</h4>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="cause_of_death1a">
            1a
          </label>
          <textarea class="nhsuk-textarea" id="cause_of_death1a" name="cause_of_death1a" disabled></textarea>
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="cause_of_death1b">
            1b
          </label>
          <textarea class="nhsuk-textarea" id="cause_of_death1b" name="cause_of_death1b" disabled></textarea>
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="cause_of_death1c">
            1c
          </label>
          <textarea class="nhsuk-textarea" id="cause_of_death1c" name="cause_of_death1c" disabled></textarea>
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="cause_of_death2">
            2
          </label>
          <textarea class="nhsuk-textarea" id="cause_of_death2" name="cause_of_death2" disabled></textarea>
        </div>
      </div>
    </div>
  </div>
</div>